<section id="four-block">
    <div class="title-container">
        <h4>新規投稿</h4>
        <br>
        <br>
        <%= form_for @post do |f| %>
            <div class="field">
                <%= f.label :店名 %>
                <%= f.text_field :title, :size => 40 %>
                <br>
                <br>
                <%= f.label :レビュー %>
                <%= f.text_field :body, :size => 75 %>
            </div>
            <br>
            ジャンル
            <%= f.select :genre, [["和食","和食"],["洋食","洋食"],["フレンチ","フレンチ"],["イタリアン","イタリアン"]],include_blank: "選択して下さい" %>
            &emsp;
            値段
            <%= f.select :price, [["1,000円未満","1,000円未満"],["1,000円~2,000円","1,000円~2,000円"],["2,000円~3,000円","2,000円~3,000円"],["3,000円以上","3,000円以上"]],include_blank: "選択して下さい" %>
            <br>
            <br>
            <div class="field">
                <%= f.label :画像 %>
                <%= f.file_field :image %>
            </div>
            <br>
            <%= f.submit "投稿する" %>
        <% end %>
    </div>
</section>